html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Schoolbell', Tahoma, Geneva, Verdana, sans-serif;
  color:black;
  background: white;
}

h1 {
  font-weight: 900;
  font-size: 80px;
  line-height: 4.5rem;
}

p {
  font-size: 2em;
}

.imgdiv {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 95vh;
  float: left;
}

.about {
  width: 48%;
  float: right;
  padding-right: 2em;
}

.intro-section {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
}

.about-me {
  margin-top: 10vw;
}

li {
  list-style: none;
  margin: .8em
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: darkgray;
}

#inline {
  display: flex;
  justify-content: center;
}

.copyregte {
  text-align: center;
  font-size: 1.4em;
}